[submodule "WS2IMBSvc/imb"]
	path = WS2IMBSvc/imb
	url = https://cornelissenja@bitbucket.org/imbclients/imb-client-c.git
	branch = master
[submodule "TilerServer/imb"]
	path = TilerServer/imb
	url = https://cornelissenja@bitbucket.org/imbclients/imb-client-delphi.git
	branch = master
[submodule "TilerServer/world"]
	path = TilerServer/world
	url = https://cornelissenja@bitbucket.org/imbclients/world-delphi.git
	branch = master
[submodule "EcoDistrictDebugger/logger"]
	path = EcoDistrictDebugger/logger
	url = https://cornelissenja@bitbucket.org/imbclients/logger-delphi.git
	branch = master
[submodule "EcoDistrictDebugger/imb"]
	path = EcoDistrictDebugger/imb
	url = https://cornelissenja@bitbucket.org/imbclients/imb-client-delphi.git
	branch = master
[submodule "TilerServer/logger"]
	path = TilerServer/logger
	url = https://cornelissenja@bitbucket.org/imbclients/logger-delphi.git
	branch = master
[submodule "Publish/logger"]
	path = Publish/logger
	url = https://cornelissenja@bitbucket.org/imbclients/logger-delphi.git
	branch = master
[submodule "Publish/imb"]
	path = Publish/imb
	url = https://cornelissenja@bitbucket.org/imbclients/imb-client-delphi.git
	branch = master
[submodule "Publish/world"]
	path = Publish/world
	url = https://cornelissenja@bitbucket.org/imbclients/world-delphi.git
	branch = master
[submodule "Publish/publisher-core"]
	path = Publish/publisher-core
	url =  https://cornelissenja@bitbucket.org/imbclients/publisher-core.git
	branch = master
[submodule "DataConverter/logger"]
	
	path = DataConverter/logger

	url = https://cornelissenja@bitbucket.org/imbclients/logger-delphi.git

	branch = master
