.tooltip-view {
    position: fixed;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: white;
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    transition: opacity 0.7s;
    opacity: 0;
    z-index: 99999;
}

.tooltip-view.visible {
    opacity: 1;
}
