.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid aliceblue;
	background-color:dodgerBlue;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button:hover {
	text-decoration: none;
	opacity: 0.8;
	cursor:pointer;
}
.button:active {
	position: relative;
	top: 1px;
}
