/* .leaflet-control-history derived from .leaflet--control-layers (leaflet.css) */
.leaflet-control-dateForm {
    background: #fff;
    border-radius: 5px;
}
.leaflet-control-dateForm-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
/* history control */
.leaflet-control-dateForm-toggle {
  background-image: url('images/dateForm.png');
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-dateForm-toggle {
  background-image: url('images/dateForm-2x.png');
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-dateForm-toggle {
  width: 44px;
  height: 44px;
}
.selected {
  background-color:rgba(173, 216, 230, 1) !important;
  color:#000;
}

#simulationForm > label {
  font-weight:bold;
}

div[id*="-option-row"] > button:active,
div[id*="-option-row"] > button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
div[id*="-option-row"] > button:hover {
  background-color:rgba(173, 216, 230, 0.5) !important;
}
div[id*="-option-row"] > button {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid #b8d5ff;
  border-radius: 3px;
  margin:0px 2px;
  cursor: pointer;
}
div[id*="-option-row"] {
  display:flex;
}

/* .leaflet-control-history derived from .leaflet--control-layers (leaflet.css) */
.leaflet-control-simclose-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
/* history control */
.leaflet-control-simclose-toggle {
  background-image: url('images/simClose.png');
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-simclose-toggle {
  background-image: url('images/simClose-2x.png');
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-simclose-toggle {
  width: 44px;
  height: 44px;
}

.leaflet-touch .leaflet-control-simclose 
{
    box-shadow: none;
}

#simulationCloseDialog {
    width: 300px;
}