#phone input,#phone select,#phone textarea {
  -webkit-appearance: none;
}

/* buttons */
.button:disabled {
  background-color:#ddd;
  cursor:default !important;
  color:#fff;
}
.button:disabled:hover {
  opacity: 1 !important;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid aliceblue;
  background-color:rgba(173, 216, 230, 1);
  color:#000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 7px;
}
.button:hover {
  text-decoration: none;
  opacity: 0.5;
  cursor:pointer;
}
.button:active {
  position: relative;
  top: 1px;
}

.leaflet-control-layers label span {
  border:1px solid lightblue;
}

div[id*="-option-row"] > button {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  margin: 0px 2px;
  cursor: pointer;
}
input.form-control:disabled {
  background-color:#eee;
  cursor:default !important;
}

input.form-control {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding:2px 5px;
}
textarea.form-control {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding:2px 5px;
}
select.form-control {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding:2px 3px;
}

#simulationName {
  display: flex;
}
