#phone input,#phone select,#phone textarea {
  /*-webkit-appearance: none;*/
  -webkit-border-radius:0px;
}
#errorLog {
  background-color: #f84141;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
}
#errorLog span {
  margin: 0px 0px 5px 0px;
  width: 100%;
  display: inline-block;
  height: auto;
}
#errorLog span:last-child {
  margin:0px;
}
#phone #selectScenariosForm {
  overflow-y: scroll !important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch !important;

  width: 100% !important;
  box-sizing: border-box;
  min-height: 10px;
  pointer-events: auto !important;
}
/* buttons */
.button:disabled {
  background-color:#ddd;
  cursor:default !important;
  color:#fff;
}
.button:disabled:hover {
  opacity: 1 !important;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid aliceblue;
  background-color:rgba(173, 216, 230, 1);
  color:#000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 7px;
}
.button:hover {
  text-decoration: none;
  opacity: 0.5;
  cursor:pointer;
}
.button:active {
  position: relative;
  top: 1px;
}

.leaflet-control-layers label span {
  border:1px solid lightblue;
}
div.empty > button {
  border: 1px solid rgba(255, 0, 0, 0.33) !important;
  box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.46);
}
input.empty, textarea.empty {
  border: 1px solid rgba(255, 0, 0, 0.33) !important;
  box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.46);
}
div[id*="-option-row"] > button {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  margin: 0px 2px;
  cursor: pointer;
}
#cat_container {
  display:block;
  margin: 0 4px 0 4px;
}
#cat_container input {
  height: 20px;
  margin-bottom: 10px;
}
.queryDialogLine select {
  width: auto !important;
}
#queryDialogLines > div > select.datalist.form-control {
  width: 435px !important;
}
input.form-control:disabled {
  background-color:#eee;
  cursor:default !important;
}

input.form-control {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding:2px 5px;
}
textarea.form-control {
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding:2px 5px;
}
select.form-control {
  background: #fff;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 3px;
  padding: 2px 3px;
  margin-bottom: 10px;
  margin-left: 10px;
  flex-basis: 100%;
}

.leaflet-control-info.leaflet-control {
  border-radius: 11px !important;
}
.leaflet-control-info.leaflet-control-info-expanded {
  border-radius: 5px !important;
}
#phone .leaflet-control-info-expanded a {
  float:left;
}
#phone a.leaflet-control-info-toggle {
  display:block;
}
#phone .leaflet-control-info-base div > p {
  display:none;
}
.leaflet-control-info-base div > p {
  padding : 5px;
  margin : 0px;
  border-radius : 5px;
  box-shadow : 0 1px 5px rgba(0,0,0,0.5);
  background-color : #fff;
  opacity : 0.8;
  height : auto;
  z-index : 999;
  white-space : nowrap;
}
#phone .leaflet-control-info-base div > p {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 100px;
  height: auto;
  white-space: normal;
  right: 10px;
}
#phone .leaflet-control-info-toggle-button {
  display:block;
}


a.leaflet-control-info-toggle {
  /*display:none;*/
}

.leaflet-control-info-base a.leaflet-control-info-toggle-button {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 12px;
}
.leaflet-control-info-toggle-button {
  position: absolute;
  left: -30px;
  top:0px;
  padding: 5px;
  border-radius: 12px !important;
  opacity: 1;
  text-decoration: none;
  z-index : 999;
  background-image : url("images/info.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  width : 16px;
  height : 16px;
}
