/* .leaflet-control-details derived from .leaflet--control-layers (leaflet.css) */
/* details control */
.leaflet-control-details {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
}
.leaflet-control-details-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-image: url('images/details.png');
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-details-toggle {
  background-image: url('images/details-2x.png');
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-details-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-details .leaflet-control-details-list,
.leaflet-control-details-expanded .leaflet-control-details-toggle {  display: none }
.leaflet-control-details-expanded .leaflet-control-details-list {
  display: block;
  position: relative;
}
.leaflet-control-details-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  height: auto;
}
.leaflet-control-details-scrollbar {
  overflow-y: scroll;
  padding-right: 5px;
}
.leaflet-control-details-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-details label {  /*display: block;_NO__DOTCOMMA__AFTER__*/ }
.leaflet-control-details-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}
.leaflet-control-details h4 {
  margin: 0;
  padding: 0;
  font-size:11px;
  margin-top: 5px;
}
.leaflet-control-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.leaflet-control-details li {  padding-left: 10px }
.leaflet-control-details li ul li {
  padding-left: 20px;
  padding-right: 10px;
  line-height: 22px;
}
.leaflet-control-details li ul li:hover {  background: #f0f0f0 }
.leaflet-control-details li a:link,
.leaflet-control-details li a:visited {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 16px;
}
.details-name { }
.details-line {
  display: block;
  font-size: 16px;
  padding: 2px 16px 2px 16px;
  cursor: pointer;
  background-color: white;
}
.details-plus {
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 10px;
  background-image: url('images/domainadd2.png');
}
.details-line:hover {  background-color: rgba(173, 216, 230, 0.5) }
.details-line-selected {
  background-color: lightgray;
}
.leaflet-oldie .leaflet-control-details {
  border: 1px solid #999;
}

.detailskpis .tick {
  display: none
}

/* charts input details */
.chartDiv {
  border-radius: 3px;
  border: 1px solid gray;
  margin: 2px;
}
.chartDiv:hover {  border-color: rgba(173, 216, 230, 0.5) }
.chartDetailsMainGroup {  pointer-events: all }
/* details chart and on hover select */
.chartDetailsRect {
  fill: none;
  stroke: black;
  stroke-width: 0.9px;
}
.chartDetailsMainGroup:hover .chartDetailsRect {  stroke: rgba(173, 216, 230, 0.5) }
.lineChartLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.0px;
}
/* layers in details */
.layerDetails, .detailContainer {
  border-radius: 3px;
  border: 1px solid gray;
  margin: 2px;
  /*display: inline-block;*/
  float: left;
  position: relative;
}
.layerDetails:hover, .detailContainer:hover {
  border: 1px solid rgba(124, 164, 178, 0.8);
  cursor:pointer;
  background: rgba(124, 164, 178, 0.02);
}
.layerDetailsTitle, .detailTitle {
  /*margin: auto auto;*/
  text-align: center;
}
.layerDetailsImg {
  /*left: 6px;*/
  top: 10px;
  position: relative;
  display: block;
  margin: auto auto;
}
.chartPreviewActive:hover {
  border-color: rgba(173, 216, 230, 0.5) !important;
  cursor:pointer;
}
.chartPreviewActive {
  background-color: rgba(173,216,230,0.05);
}
.leaflet-control-details hr {
  width: 100%;
  float: left;
}
.layerDetailsSelected {
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(173,216,230,0.05);
  right: 0px;
  top: 0px;
  opacity: 1;
  z-index: -99999;
  border: 2px solid lightblue;
  border-radius: 2px;
}
.layerDetailsSelectedHidden {  display: none }

.graphDetails {
  float: left;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 2px;
}

.graphDetailTitle {
  text-align: center;
  height: 12px;
  overflow-y: visible;
}

.chartPreviewActive {
  border: 1px solid rgba(173, 216, 230, 1) !important;
}



/* telefoon */

#phone .leaflet-control-details-base {
  width:280px !important;
}

#phone .layerDetailsTitle, #phone .detailTitle {
  font-size: 11px !important;
  text-align: left !important;
  padding-left: 31px !important;
  line-height: 14px;
  padding-top: 4px;
}
#phone .leaflet-control-details h4 {
  margin-top:0px;
}

#phone .detailslayers, #phone .detailscharts {
  width: 100% !important;
  box-sizing: border-box;
  min-height: 10px;
  overflow-y: scroll !important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch !important;
  max-height: 300px !important;
}
#phone .layerDetails, #phone .graphDetails {
  width: 100% !important;
  height: 23px !important;
  float: left;
  margin: 2px 0px !important;
  position: relative;
  box-sizing: border-box;
}
#phone .preview-svg-container {
  left: 0px;
  top: 0px;
  position: absolute;
  display: block;
  margin: auto auto;
  float: left;
  height: 20px;
  width:20px;
  border-right: 1px solid rgba(0, 0, 0, 0.32);
}
#phone .layerDetailsImg {
  left: 6px;
  top: 4px;
  position: absolute;
  display: block;
  margin: auto auto;
  float: left;
  height: 16px;
}
#phone .chartPreviewActive {
  border: 1px solid rgba(173, 216, 230, 1) !important;
}
#phone .layerDetailsSelected  {
  top: 0px;
  left: 0px !important;
  right: 0px;
  position: absolute !important;
}
