.text-icon-div { }
.car-text-icon {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  left: 15px;
  top: -42px;
}
.car-text-icon-animation {
  animation-name: sensorFade;
  animation-duration: 10s;
}
.text-icon {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  left: 15px;
  top: -25px;
}
.text-icon-animation {
  animation-name: sensorFade;
  animation-duration: 10s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes sensorFade {
    from {  background-color: red }
    to {  background-color: white }
}
/* Standard syntax */
@keyframes sensorFade {
    from {  background-color: red }
    to {  background-color: white }
}
