/*todo: get rights for noun-project icon*/
#graphsContainer {
  pointer-events: none;
  position: fixed;
}
.modalDialog-close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  width: 19px;
  height: 25px;
  font-size: 20px;
}
.graphDiv {
  pointer-events: auto;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.graph-info {
  position: absolute;
  top: 6px;
  right: 28px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('images/info.png');
}
.graph-title {
  top: 6px;
  left: 48px;
  right:48px;
  position: absolute;
  height:20px;
  box-sizing: border-box;
  text-align:center;
}
.graph-resize {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 25px;
  height: 25px;
  background-image: url('images/resize.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 2px;
  cursor: nwse-resize;
  opacity: 0.6 !important;
}
.modalDialog-close:hover,
.graph-info:hover,
.graph-resize:hover,
.modalDialog-close:hover {
  opacity: 0.75 !important;
  color: hsla(0,0%,0%,0.7);
}
.axis {
  shape-rendering: crispEdges;
  font-size: 10px;
}
.xAxis { }
svg text { }
.axisLabel {
  fill: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.xAxis line {  stroke: black }
.xAxis path {  stroke: black }
.yAxis { }
.yAxis line {  stroke: black }
.yAxis path {  stroke: black }

.c3-xgrid-focus {
  display: none;
}

.graph-title-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar-label-div {
    position: absolute;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.bar-label-table {
    margin: 5px;
}

.bar-label-row {

}

.bar-label-color-td {
    width: 15px;
    min-width:15px;
}

.bar-label-text-td {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 200px;
    white-space: nowrap;
}
