/* .leaflet-control-history derived from .leaflet--control-layers (leaflet.css) */
.leaflet-control-history-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
/* history control */
.leaflet-control-history-toggle {
  background-image: url('images/history2.png');
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-history-toggle {
  background-image: url('images/history2-2x.png');
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-history-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-history-expanded {
  max-width:340px;
}
.leaflet-control-history .leaflet-control-history-list,
.leaflet-control-history-expanded .leaflet-control-history-toggle {  display: none }
.leaflet-control-history-expanded .leaflet-control-history-list {
  display: block;
  position: relative;
}
.leaflet-control-history-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}
.leaflet-control-history-scrollbar {
  overflow-y: scroll;
  padding-right: 5px;
  min-height: 1px;

  width: 100% !important;
  box-sizing: border-box;
  min-height: 10px;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;

}
.leaflet-control-history-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-history label {  display: block }
.leaflet-control-history-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
  position: relative;
  box-sizing: border-box;
    width: 100%;
  clear:both;
}
.leaflet-control-history h4 {
  margin: 0;
  padding: 0;
}
.leaflet-control-history ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.leaflet-control-history li {  padding-left: 10px }
.leaflet-control-history li ul li {
  padding-left: 20px;
  padding-right: 10px;
  line-height: 22px;
}
.leaflet-control-history li ul li:hover {  background: #f0f0f0 }
.leaflet-control-history li a:link,
.leaflet-control-history li a:visited {
  /*: ;
  background-color: white;
  color: white;
  text-decoration: none;
  display: inline-block;*/
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 16px;
}
.history-remove-button {  background-image: url(images/historyremove.png) }
.history-icon-button {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 4px;
  opacity: 0.7;
  float: right;
}
.history-add-button {  background-image: url(images/domainadd.png) }
.history-remove-button:hover {
  opacity: 1.0;
  cursor: pointer;
}
.history-add-button:hover {
  opacity: 1.0;
  cursor: pointer;
}
.history-remove-line {  line-height: 20px }
.history-remove-line > div {
  position:relative;
}
.history-empty-line { }
.history-empty-name {
  display: table;
  margin: auto;
  opacity: 0.7;
}
.history-name {  cursor: pointer }
.history-name-inactive {
  /*opacity: 0.5;*/
  cursor: pointer;
}
.leaflet-control-history-apply { }
.history-button {
  display: block;
  float:right;
}

.leaflet-oldie .leaflet-control-history {  border: 1px solid #999 }


#phone .history-remove-line, .history-remove-line {
  position: relative;
  width:auto;
}

.history-remove-line > div {
  float:left;
  width:100%;
  position: relative;
  margin-bottom:5px;
}

#phone .history-add-button, #phone .history-remove-button, .history-add-button, .history-remove-button {
  position: absolute;
  right: 0px;
  top: 2px;
}

#phone .history-remove-line, #phone .history-remove-line > div {
  position: relative;
  float:left;
  width:100%;
}
span[class^="history-name"]:hover {
  border:1px solid rgba(173, 216, 230, 0.4);
  color:#000;
  background: rgba(173, 216, 230, 0.1);
}
#phone span[class^="history-name"], span[class^="history-name"] {
  width:100%;
  padding-right:25px;
  padding-left:5px;
  box-sizing: border-box;
  display:block;
  float:left;
  position: relative;
  border-radius: 3px;
  border:1px solid lightblue;
  background: rgba(173, 216, 230, 0);
  opacity: 0.5;
}
#phone .history-name, .history-name {
  background: rgba(173, 216, 230, 0.8) !important;
  color:#000;
  opacity: 1 !important;
}
.history-name:hover {
  opacity: 0.8 !important;
}
#phone .history-name-inactive, .history-name-inactive {
  background: rgba(173, 216, 230, 1);
  color:#000;
}
