.leaflet-title {
  position: absolute;
  left: 96px;
  top: 0;
}
.projectDescription {
  color: white;
  pointer-events: none;
  height: 50px;
}
#projectDescriptionH2 {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: white;
  text-shadow: 1px 1px black;
  pointer-events: none;
}
#projectDescriptionH2:hover {
  white-space: normal;
  word-wrap: break-word;
}
#projectDescriptionTextBox {
  pointer-events: auto;
  cursor: pointer;
  position: relative;
}
#projectDescriptionTextBox:hover {
  cursor: pointer;
  pointer-events: auto;
}
/* select scenario form */
.selectScenarioUL {
  list-style-type: none;
  margin-left: 0;
}
.selectScenarioUR {
  display: block;
  align: right;
  width: 10px;
}
.selectScenarioLI {  white-space: nowrap }
.selectActiveScenarioRadio {
  margin: 0 0 0 24px;
  float: left;
  display: none;
}
.selectActiveScenarioLabel {
  margin: 4px 0 4px 24px;
  font-size: 16px;
  display: block;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
}
#list {
  width: 85%;
  list-style-type: none;
}
.listItem {
  width: auto;
  height: auto;
}
.subList {  list-style-type: none }
.subListItem {  height: auto }
/* --- Table Stuff --- */
.scenarioTable {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  font-size: 16px;
}
.tableRow {  height: auto }
.cell1 {
  width: auto;
  cursor: default;
}
.cell2 {
  width: 20px;
  cursor: default;
}
.cell3 {
  width: 30px;
  border-left: 3px solid LightGrey;
  cursor: default;
}
.cell4 {
    width: 20px;
    border-left: 3px solid LightGrey;
    text-align: center;
}
.cell4Filled {
    cursor: pointer;
}
.rightRadioSpan {
    padding-left: 4px;
}
.leftRadioSpan {
    padding-right: 2px;
}

#noRefRightRadio:hover {  background-color: #d6adeb }
#refTextCell {
  width: 30px;
  border-left: 3px solid LightGrey;
}
#activeTextCell {  width: 20px }
#noRefTextCell {  width: 20px }
/* --- Text Fields --- */
#activeTextSpan {  margin-right: 3px }
#refTextSpan {  padding-left: 3px }
#noRefSpan {
  margin-right: 3px;
  white-space: nowrap;
}
.infoText {
    display:block;
    border-radius:3px;
    background-color: rgb(173,216,230);
    margin: 2px;
}

#description-popup-container {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#description-popup-div {
    max-width: 50%;
    position: relative;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px, 0px, 5px;
}
