.leaflet-title {
    position: absolute;
    left: 96px;
    top: 0;
}

.projectDescription {
    color: white;
    text-shadow: 1px 1px black;
}

/* select scenario form */

.selectScenarioUL {
    list-style-type: none;
    margin-left: 0;
    /*padding: 0; */
    /*margin: 0; */
}

.selectScenarioLI {
    white-space:nowrap;
}

.selectActiveScenarioRadio {
    margin: 0 0 0 24px;
    float: left;
    display: none;
}

.selectActiveScenarioLabel {
    margin: 4px 0 4px 24px;
    font-size: 16px;
    display: block;

    background-color: white;
    border: 1px solid white;
    border-radius: 3px;

}

.selectActiveScenarioRadio:checked +.selectActiveScenarioLabel {
    font-style:italic;
    background: lightblue;
    border-radius: 3px;
    border: 1px solid lightblue;
}

.selectActiveScenarioRadio:checked + .selectActiveScenarioLabel:hover {
    border: 1px solid dodgerblue;
}

.selectActiveScenarioLabel:hover {
    border: 1px solid dodgerblue;
}

.selectReferenceScenarioRadio {
    float: right;
    
}

.selectReferenceScenarioLabel {
    float: right;
    /*font-size: 16px;*/
}