/* overrides draw toolbar style */
.leaflet-draw-toolbar a {
  background-image: url('images/dmspritesheet.png');
  background-repeat: no-repeat;
}
.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('images/dmspritesheet-2x.png');
  background-size: 360px 30px;
}
.leaflet-draw-draw-query {
  cursor: pointer; /* does not show correctly without it seems */
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-query {  background-position: -270px -1px }
.leaflet-draw-toolbar .leaflet-draw-draw-query {  background-position: -272px -2px }
.queryDialogLine {  height: 30px }
.queryDialogLine input {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 4px 0 4px;
  height: 20px;
}
.queryDialogLine select {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 4px 0 4px;
  height: 26px; /* to make same height as input above */
}
.queryDialogLine img {  margin: 0 2px 0 2px }
.queryDialogAddRemoveButton {
  vertical-align: text-bottom;
  cursor: pointer;
  opacity: 0.7;
}
.queryDialogAddRemoveButton:hover {  opacity: 1.0 }
