#attributesContainer{   
    overflow-y: auto;
    display: block;
}

.attributeTable {
	display: inline-block;
	width: 200px;
	border: 1px solid black;
	margin: 0px 2px 0px 2px;
}

.attributeLeftCell {
	width: 75px;
	text-align: right;
	padding-right: 3px;
	height: 25px;
}

.attributeRightCell {
	border-left: 1px solid black;
	padding-left: 3px;
	width: auto;
	height: 25px;
}

.intInput {
	width: 106px;
}

.forcedListInput {
	width: 110px;
}

.textInput {
	width: 106px;
}