.leaflet-control-startstop-stopped {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-control-startstop {
  border-radius: 5px;
  background-size: 26px 26px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.leaflet-touch .leaflet-control-startstop {
  width: 44px;
  height: 44px;
}
/*.leaflet-control-details-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    background-image: url('images/details.png');
    width: 36px;
    height: 36px;
    }
.leaflet-retina .leaflet-control-details-toggle {
    background-image: url('images/details-2x.png');
    background-size: 26px 26px;
    }
.leaflet-touch .leaflet-control-details-toggle {
    width: 44px;
    height: 44px;
    }*/
.leaflet-retina .leaflet-control-startstop-playing {
  background-image: url('images/pauze-2x.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.leaflet-retina .leaflet-control-startstop-stopped {
  background-image: url('images/play-2x.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.leaflet-control-startstop-stopped {
  background-image: url('images/play.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.leaflet-control-startstop-playing {
  background-image: url('images/pauze.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.leaflet-control-startstop a {
    cursor: auto;
}
