/*Todo: fix licenses for icons from https://thenounproject.com/?*/
.viewerControlContainer {
  border: 2px solid grey;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  display: block;
  background-color: white;
}

.viewerControlButtonContainer {

}

.viewerControlButton {
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  width: 52px;
  height: 52px;
  display: inline-block;
  margin-left: 4px;
  margin-top: 4px;
  cursor: pointer;
}

.viewerControlTimeButton {
    background-image: url('images/time-synchronize-2x.png');
}

.viewerControlMoveButton {
    background-image: url('images/move-synchronize-2x.png');
}

/*presenter/viewer control*/
.leaflet-control-pv {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
}
.leaflet-control-pv-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-image: url('images/pv.png');
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-pv-toggle {
  background-image: url('images/pv-2x.png');
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-pv-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-pv .leaflet-control-pv-list,
.leaflet-control-pv-expanded .leaflet-control-pv-toggle {  display: none }
.leaflet-control-pv-expanded .leaflet-control-pv-list {
  display: block;
  position: relative;
}
.leaflet-control-details-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  height: auto;
}

.presenterViewerError {
    color: red;
}

#presenterViewerDialog {
    width: 300px;
}
