.leaflet-control-timeRangeSlider {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  animation-duration: 10s;
  width: 200px;
  height: 40px;
  padding: 5px;
  /*top: -30px;*/
}

.leaflet-control-timeRangeSlider-sliderDiv {
  position:relative;
  margin: 5px 15px 5px 15px;
}

.leaflet-control-timeRangeSlider-sliderTextDiv {
  margin: 5px 15px 5px 15px;
}

.leaflet-control-timeRangeSlider .noUi-handle {
    border-color: rgb(63, 184, 175);
}