<a class="details-icon-container leaflet-control-graphs-toggle" href="#" title="Graphs">
    <i class="details-icon fas fa-chart-bar"></i>
</a>
<div class="details-body">
    <!-- todo: uncomment when layers details are implemented.-->
    <!--<div class="title">
        <h1>Details</h1>
        Details of selected domains in KPIs, graphs and map layers.
    </div>-->
    <div class="section graphs hidden">
        <h2>Graphs</h2>
        <div class="container"></div>
    </div>

    <div class="section kpis hidden">
        <h2>KPI</h2>
        <div class="container"></div>
    </div>

    <div class="section layers hidden">
        <h2>Layers</h2>
        <div class="container"></div>
    </div>
</div>
