* {
  box-sizing: border-box;
}
html,body {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #f9f9f9;
}
h1, h2, h3, h4, h5 {
  color:#1a5b7f;
}
::-moz-selection {
  background-color:#1a5b7f;
  color:#fff;
}
::selection {
  background-color:#1a5b7f;
  color:#fff;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin:6px 0px;
}
.corner {
  border-radius: 5px;
}
.clearBoth {
  clear:both;
}
.horizontalRule {
  width:100%;
  height:1px;
  margin: 10px 0px;
  background-color:rgba(26,91,127,0.3);
}
#lang {
  position: relative;
  right: 0px;
  top: 0px;
  width: auto;
  display: inline-block;
  float: right;
  border:1px solid rgba(26,91,127,0.3);
  border-radius: 5px;
}
.languages:last-child {
  margin-right:0px;
}
.languages {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: rgba(26, 91, 127, 1);
  text-decoration: none;
  margin-right: 0px;
  border: 1px solid rgba(26,91,127,0.2);
}
.languages:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.languages:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.languages.selected, .languages:hover {
  background-color: rgba(26, 91, 127, 1);
  color: #fff;
}


#phone #header {
  padding: 40px 0px 20px 0px;
}
#phone #companyLogos {
  display:block;
}
.smaller > img {
  width:20%;
}
#phone #companyLogos a {
  margin-bottom:10px;
}
#phone #companyLogos a:last-child {
  margin-bottom:0px;
}
#phone #header,#phone #container {
  width: 100%;
}
#phone #logo, #phone #companyLogos {
  padding-left: 10px;
  padding-right: 10px;
}
#header, #container {
  max-width:1000px;
  -webkit-transition:width 500ms ease-in-out;
  -moz-transition:width 500ms ease-in-out;
  -o-transition:width 500ms ease-in-out;
  transition:width 500ms ease-in-out;
  z-index: 999;
}
#header {
  width:80%;
  margin:0 auto;
  padding:40px 0px;
  box-sizing: border-box;
}
#logo {
  z-index: 999;
}
#header > * {
  z-index: 999;
}
#logo {
  padding-bottom: 15px;
  transition: opacity 300ms;
}
#logo a:hover > img {
  opacity: 0.8;
  transition: opacity 300ms;
}
#companyLogos {
  border-top: 1px solid rgba(26,91,127,0.3);
  padding-top: 20px;
}
#companyLogos a {
  margin-right:10px;
  transition: opacity 300ms;
}
#companyLogos a:hover img {
  opacity:0.5;
  transition: opacity 300ms;
}
#phone [id*="textContainer-"] {
  width:100%;
}
[id*="textContainer-"] {
  padding:0px;
  margin:0px;
  width:50%;
  float:left;
  margin-bottom: 42px;
  transition: opacity 900ms;
  border-left: 10px solid #fff;
}
[id*="textContainer-"] h1 {
  margin-top:0px;
}
.buttonContainer {
  text-align: right;
}
#phone [id*="imageContainer-"] {
  width: 100%;
}
#phone [id*="textContainer-"] {
  width: 100%;
  border:0px;
}
[id*="imageContainer-"] {
  width: 50%;
  float: left;
  position: relative;
  overflow:hidden;
  transition: opacity 900ms;
}
[id*="imageContainer-"] img {
  width:100%;
  height: 100%;
  display: block;
}
img.overlay {
  position: absolute;
  left:0px;
  top:0px;
  /*padding-right: 10px;*/
}
img.partnerLogo {
  max-width:110px;
  box-sizing: border-box;
  padding: 5px 15px 5px 0px;
}
#phone .partnerImgs {
  width: 100%;
}
.partnerImgs {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
  padding-left: 10px;
}
#container {
  background-color: transparent;
  width: 80%;
  min-height:100%;
  margin:0 auto;
  padding:0px 0px;
  box-sizing: border-box;
}
[id*="casus-"] {
  background-color:#fff;
  margin-bottom:30px;
  -webkit-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.1);
  padding:10px;
  box-sizing: border-box;
  position: relative;
  z-index: 999;
}
.button {
  background-color:rgba(26, 91, 127, 1);
  padding:7px 10px;
  color:#fff;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;

}
#phone .casusBy {
  left:10px;
}

.casusBy h2, .casusBy span {
  float:left;
  margin:0px;
  font-size: 18px;
}

.casusBy {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin:0px;
}
.button:hover {
  background-color:rgba(26, 91, 127, 0.5);


}
.buttonContainer {
  transition: opacity 500ms;
}

.legend {
  /*background-color: rgba(255,153,0,0.2);*/
}
